<!-- <section class="games-container container"> -->
<section class="container my-4 pb-2">
  <div class="title-container">
    <h4>Juegos comprados:</h4>
  </div>

  <div class="container-fluid mt-3" style="margin: auto">
    <ul class="row row-cols-sm-2 row-cols-md-6 row-cols-lg-4 g-4 gx-5 ps-0">
      @for(game of games; track game.id){

      <li appHighLigth class="col-sm-12 col-md-12 col-lg-6">
        <div class="d-flex row card shadow-lg p-2">
          <div
            class="d-flex justify-content-between align-items-center mb-2 title-container"
          >
            <span class="fw-bold fs-2 text-truncate" title="{{ game.title }}">
              {{ game.title }}
            </span>
          </div>
          <img
            class="img-thumbnail"
            src="{{ game.imageUrl }}"
            width="400"
            height="200"
          />
          <div class="d-flex aling-items-center justify-content-between mt-2">
            <button
              type="button"
              class="btn btn-primary mb-2"
              data-bs-toggle="modal"
              data-bs-target="#modalPrestar"
              (click)="prestarOpen(game)"
            >
              Prestar Juego
            </button>
          </div>
        </div>
      </li>
      }
    </ul>

    @if(!games?.length){
    <span class="badge badge-primary bg-dark fs-6 p-3">
      Aún no hay juegos comprados
    </span>
    }
  </div>
</section>

<section class="container my-4 pb-2">
  <div class="title-container mt-4">
    <h4>Juegos en prestamo:</h4>
  </div>

  <div class="container-fluid mt-3" style="margin: auto">
    <ul class="row row-cols-sm-2 row-cols-md-6 row-cols-lg-4 g-4 gx-5 ps-0">
      @for(game of gamesBorrowed; track game.id){

      <li appHighLigth class="col-sm-12 col-md-12 col-lg-6">
        <div class="d-flex row card shadow-lg p-2">
          <div
            class="d-flex justify-content-between align-items-center mb-2 title-container"
          >
            <span class="fw-bold fs-2 text-truncate" title="{{ game.title }}">
              {{ game.title }}
            </span>
          </div>
          <img
            class="img-thumbnail"
            src="{{ game.imageUrl }}"
            width="400"
            height="200"
          />
          <div class="d-flex aling-items-center justify-content-between mt-2">
            <button
              type="button"
              class="btn btn-primary mb-2"
              data-bs-toggle="modal"
              data-bs-target="#modalDevolver"
              (click)="devolverOpen(game)"
            >
              Devolver Juego
            </button>
          </div>
        </div>
      </li>
      }
    </ul>

    @if(!gamesBorrowed?.length){
    <span class="badge badge-primary bg-dark fs-6 p-3">
      Aún no hay juegos en prestamo
    </span>
    }
  </div>
</section>

<div
  class="modal fade"
  id="modalPrestar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Modal prestar juego"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Prestar Juego">
          Prestar {{ gameToLend?.title }}
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Cancelar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select
          class="form-select"
          id="juegoOrginalCheck"
          formControlName="originalGame"
          required
          #usuarios
          (change)="seleccionarUsuario(usuarios.value)"
        >
          <option disabled hidden selected value="">
            Seleccione usuario al que prestar
          </option>
          @for (user of users; track user.id) {
          <option value="{{ user.id }}">{{ user.email }}</option>
          }
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="prestarJuego()"
          data-bs-dismiss="modal"
        >
          Prestar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalDevolver"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Modal devolver juego"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Devolver Juego">
          Devolver {{ gameToReturn?.title }}
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Cancelar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Devolver este juego a
          <span class="fw-bold">
            {{ gameToReturn?.user?.name }}({{ gameToReturn?.user?.email }})
          </span>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="devolverJuego()"
          data-bs-dismiss="modal"
        >
          Devolver
        </button>
      </div>
    </div>
  </div>
</div>
