<!-- <section class="games-container container"> -->
<section class="container">
  <div class="title-container mt-4">
    <h2>Juegos comprados:</h2>
  </div>

  <div class="container-fluid mt-3" style="margin: auto">
    <ul class="row row-cols-sm-2 row-cols-md-6 row-cols-lg-4 g-4 gx-5 ps-0">
      @for(game of games; track game.id){
      <li appHighLigth class="col-sm-12 col-md-6 col-lg-4">
        <div class="d-flex p-2 row shadow-lg card" style="cursor: pointer">
          <div
            class="d-flex justify-content-between align-items-center mb-2 title-container"
          >
            <span class="fw-bold fs-2">
              {{ game?.title }}
            </span>
            <span class="fs-3"> ${{ game?.price }} </span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
            minima omnis animi iure ullam voluptate similique in. Eum corrupti
            blanditiis commodi, ducimus quisquam temporibus doloribus dolorum
            incidunt maiores error ipsam!
          </p>
          <button
            type="button"
            class="btn btn-primary mb-2"
            data-bs-toggle="modal"
            data-bs-target="#modalPrestar"
            (click)="prestarOpen(game)"
          >
            Prestar Juego
          </button>
        </div>
      </li>
      }

      <!-- @for (game of games; track game.id) {

            <li appHighLigth class="col-sm-12 col-md-6 col-lg-4 card">
              <div
                class="d-flex row shadow-lg"
                style="cursor: pointer"
              >
                <div
                  class="d-flex justify-content-between align-items-center mb-2 title-container"
                >
                  <span class="fw-bold fs-2">
                    {{ game.title }}
                  </span>
                  <span class="fs-3"> ${{ game.price }} </span>
                </div>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
                  minima omnis animi iure ullam voluptate similique in. Eum corrupti
                  blanditiis commodi, ducimus quisquam temporibus doloribus dolorum
                  incidunt maiores error ipsam!
                </p>
              </div>
            </li>

            } -->
    </ul>
    <span class="badge badge-primary">Aún no hay juegos</span>
  </div>
</section>

<div
  class="modal fade"
  id="modalPrestar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Modal prestar juego"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Prestar Juego">
          Prestar {{ gameToLend?.title }}
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Cancelar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select
          class="form-select"
          id="juegoOrginalCheck"
          formControlName="originalGame"
          required
          #usuarios
          (change)="seleccionarUsuario(usuarios.value)"
        >
          <option disabled hidden selected value="">
            Seleccione usuario al que prestar
          </option>
          @for (user of users; track user.id) {
          <option value="{{ user.id }}">{{ user.email }}</option>
          }
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="prestarJuego(content)"
        >
          Prestar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL EXITO -->
<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="Operacion exitosa">Operacion exitosa</h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Cancelar"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Juego {{ gameToLend?.title }} prestado a {{ userPrestado?.email }}.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="sucessOk()">
        Ok
      </button>
    </div>
  </div>
</ng-template>
