<section class="container mt-4 mb-4">
  <div>
    @if (game){
    <div class="d-flex justify-content-between flex-grow-1">
      <h2>Editar Juego:</h2>

      <button
        data-bs-toggle="modal"
        type="button"
        class="btn btn-danger"
        data-bs-target="#modalDelete"
      >
        Eliminar Juego
      </button>
    </div>

    } @else{
    <h2>Crear Juego:</h2>
    }

    <form [formGroup]="gameData" (submit)="handleSubmit($event, content)">
      <div class="form-group mt-3">
        <label for="title">Titulo</label>
        <input
          type="text"
          class="form-control"
          id="title"
          aria-describedby="titleHelp"
          placeholder="Ingresar titulo"
          formControlName="title"
        />
      </div>
      <div class="form-group mt-3">
        <label for="description">Descripcion</label>
        <input
          type="text"
          class="form-control"
          id="description"
          aria-describedby="descriptionHelp"
          placeholder="Ingresar descripcion"
          formControlName="description"
        />
      </div>
      <div class="form-group mt-3">
        <label for="imageUrl">Imagen</label>
        <input
          type="text"
          class="form-control"
          id="imageUrl"
          aria-describedby="titleHelp"
          placeholder="Ingresar link de imagen"
          formControlName="imageUrl"
        />
      </div>

      <div class="input-group my-3">
        <label for="genero" class="input-group-text">Es DCL?</label>
        <div class="input-group-text form-check form-switch mb-0">
          <input
            class="form-check-input mx-2"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
            formControlName="isDlc"
          />
        </div>

        @if(gameData.controls.isDlc.value) {
        <select
          class="form-select"
          id="juegoOrginalCheck"
          formControlName="originalGame"
          #juegos
          (change)="changeDlc(juegos.value)"
          required
        >
          <option disabled hidden selected value="">
            Seleccione juego extendido
          </option>
          @for (game of games; track game.id) {
          <option value="{{ game.id }}">{{ game.title }}</option>
          }
        </select>
        }
      </div>

      @if(!gameData.controls.isDlc.value) {
      <div class="form-group mt-3">
        <label for="genero">Genero</label>
        <select
          class="form-select"
          id="genero"
          formControlName="genre"
          #generos
          (change)="changeGenre(generos.value)"
          required
        >
          <option disabled hidden selected value="">Seleccione genero</option>
          @for (genre of genres; track genre.id) {
          <option value="{{ genre.id }}">{{ genre.name }}</option>
          }
        </select>
      </div>
      } @if(gameData.controls.fields.value.length > 0){
      <div formArrayName="fields" class="my-4">
        <h5>Campos personalizados</h5>
        @for (field of gameData.get('fields')!.value; track field.id) {
        <div [formGroupName]="$index" class="input-group my-3">
          <label class="input-group-text" for="{{ id }}">{{
            field.name
          }}</label>
          <input
            type="{{ field.type }}"
            class="form-control"
            id="{{ field.id }}"
            placeholder="Ingresar {{ field.name.toLocaleLowerCase() }}"
            formControlName="value"
            [value]="field.value"
          />
        </div>
        }
      </div>
      }

      <div class="form-group mt-3">
        <label for="price">Precio</label>
        <input
          type="number"
          class="form-control"
          id="price"
          formControlName="price"
          aria-describedby="priceHelp"
          placeholder="Ingresar precio"
        />
      </div>

      <div formGroupName="requirements" class="mt-3">
        <h5>Requerimientos</h5>
        <div class="form-group mt-3">
          <label for="cpu">CPU</label>
          <input
            type="text"
            class="form-control"
            id="cpu"
            aria-describedby="cpuHelp"
            placeholder="Ingresar CPU"
            formControlName="cpu"
          />
        </div>
        <div class="form-group mt-3">
          <label for="mem">Memoria</label>
          <input
            type="text"
            class="form-control"
            id="mem"
            aria-describedby="memHelp"
            placeholder="Ingresar Memoria"
            formControlName="mem"
          />
        </div>
        <div class="form-group mt-3">
          <label for="disk">Almacenamiento</label>
          <input
            type="text"
            class="form-control"
            id="disk"
            aria-describedby="diskHelp"
            placeholder="Ingresar Almacenamiento"
            formControlName="disk"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    </form>
  </div>
</section>

<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Modal eliminar juego"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Eliminar juego">Eliminar Juego</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Cancelar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirmar eliminacion del juego.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteGame(content)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL EXITO -->
<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="Operacion exitosa">Operacion exitosa</h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Cancelar"
        (click)="sucessOk()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Operacion realizada con exito.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="sucessOk()">
        Ok
      </button>
    </div>
  </div>
</ng-template>
