.isLoggedIn {
  background-color: green;
}
.card {
  border: none;
}

.card > div {
  border-radius: 5px;
}
/*
.games-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
/*
@media screen and (max-width: 650px) {
  .title-container {
    flex-direction: column;
  }
} */
