<!-- <section class="games-container container"> -->
<section class="container">
  <div class="title-container mt-4">
    <h2>Tienda de juegos:</h2>
  </div>

  <div class="container-fluid mt-3" style="margin: auto">
    @if (games.length >= 1){

    <ul class="row row-cols-sm-2 row-cols-md-6 row-cols-lg-4 g-4 gx-5 ps-0">
      @for (game of games; track game.id) {

      <li appHighLigth class="col-sm-12 col-md-6 col-lg-4 card">
        <div
          routerLink="/shop/{{ game.id }}"
          class="d-flex row shadow-lg"
          style="cursor: pointer"
        >
          <div
            class="d-flex justify-content-between align-items-center mb-2 title-container"
          >
            <span class="fw-bold fs-2">
              {{ game.title }}
            </span>
            <span class="fs-3"> ${{ game.price }} </span>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
            minima omnis animi iure ullam voluptate similique in. Eum corrupti
            blanditiis commodi, ducimus quisquam temporibus doloribus dolorum
            incidunt maiores error ipsam!
          </p>
        </div>
      </li>

      }
    </ul>
    } @else {
    <span class="badge badge-primary">Aún no hay juegos</span>
    }
  </div>
</section>
