<!-- <section class="games-container container"> -->
<section class="container mb-5">
  <div class="title-container mt-4">
    <h4>Tienda de juegos:</h4>
  </div>

  <div class="container-fluid mt-3" style="margin: auto">
    @if (games.length >= 1){

    <!-- <ul class="row row-cols-sm-2 row-cols-md-6 row-cols-lg-4 g-4 gx-5 ps-0"> -->
    <ul class="row g-4 gx-5 ps-0 row-cols-sm-8 row-cols-md-8 row-cols-lg-4">
      @for (game of games; track game.id) {

      <li appHighLigth class="col-sm-12 col-md-12 col-lg-6">
        <div class="d-flex row card shadow-lg p-2">
          <div
            class="d-flex justify-content-between align-items-center mb-2 title-container"
          >
            <span class="fw-bold fs-4 text-truncate" title="{{ game.title }}">
              {{ game.title }}
            </span>
          </div>
          <img
            class="img-thumbnail"
            src="{{ game.imageUrl }}"
            width="400"
            alt="{{ game.title }}-picture"
            height="200"
          />
          <div class="d-flex aling-items-center justify-content-between mt-2">
            <span class="badge rounded-pill text-bg-light fs-5"
              >${{ game.price }}</span
            >
            <button
              routerLink="/shop/{{ game.id }}"
              type="button"
              class="btn btn-outline-light"
            >
              Comprar
            </button>
          </div>
        </div>
      </li>

      }
    </ul>
    } @else {
    <span class="badge badge-primary text-bg-light">Aún no hay juegos</span>
    }
  </div>
</section>
