<section class="container mt-4">
  <div class="title-container">
    <h2>Listado de generos:</h2>

    <button type="button" class="btn btn-primary" routerLink="/genres/create">
      Cargar Genero
    </button>
  </div>

  <div class="" style="margin: auto">
    @if (genres.length >= 1){

    <ul style="padding-left: 0">
      @for (genre of genres; track genre.id) {

      <li
        style="cursor: pointer"
        class="mb-3 card rounded mt-3 p-2 d-flex flex-row"
      >
        <div
          routerLink="/genres/{{ genre.id }}"
          class="d-flex align-items-center flex-grow-1"
        >
          <span class="badge badge-primary badge-pill">{{ genre.id }}</span>
          <span style="margin-left: 5px" class="fs-5 font-weight-bold">
            {{ genre.name }}
          </span>
        </div>
        <button
          data-bs-toggle="modal"
          type="button"
          class="btn btn-danger"
          data-bs-target="#modalDelete"
          (click)="openModal(genre.id)"
        >
          Eliminar
        </button>
      </li>

      }
    </ul>
    } @else {
    <span class="badge badge-primary">Aún no hay generos</span>
    }
  </div>
</section>

<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Modal eliminar genero"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Eliminar genero">Eliminar Genero</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Cancelar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirmar eliminacion del genero.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="eliminarGenero()"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
