<section class="mb-5">
  <div class="container px-5">
    <section>
      <h4 class="mt-4">Detalles:</h4>

      <div class="jumbotron mt-3 aling-items-center">
        <h1 class="display-4">
          {{ game?.title }}
          <span class="badge rounded-pill text-bg-light fs-3 ms-2">{{
            genre
          }}</span>
        </h1>
        <img
          class="img-thumbnail m-2"
          src="{{ game?.imageUrl }}"
          width="1000"
        />
        <p class="lead text-light">
          {{ game?.description }}
        </p>

        <hr class="my-4" />

        <dl class="row">
          <dt class="col-sm-3 mb-4 fs-5">Requerimientos del sistema:</dt>
          <dd class="col-sm-9"></dd>

          <dt class="col-sm-3">CPU</dt>
          <dd class="col-sm-9">
            <p class="text-secondary">{{ game?.requirements?.cpu }}</p>
          </dd>

          <dt class="col-sm-3">Memoria RAM</dt>
          <dd class="col-sm-9">
            <p class="text-secondary">{{ game?.requirements?.mem }}</p>
          </dd>

          <dt class="col-sm-3 text-truncate">Almacenamiento</dt>
          <dd class="col-sm-9">
            <p class="text-secondary">{{ game?.requirements?.disk }}</p>
          </dd>
        </dl>

        <dt class="col-sm-3">Precio final:</dt>
        <dd class="col-sm-9">
          <p class="fs-2 fw-bold text-light">${{ game?.price }}</p>
        </dd>
      </div>

      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modalComprar"
        [disabled]="currentUser?.games?.includes(game?.id || 0)"
      >
        {{
          currentUser?.games?.includes(game?.id || 0)
            ? "Juego en posesion"
            : "Comprar Juego"
        }}
      </button>
    </section>
  </div>
</section>

<div
  class="modal fade"
  id="modalComprar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Modal comprar juego"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Comprar Juego">Comprar Juego</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Cancelar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select
          class="form-select"
          id="juegoOrginalCheck"
          formControlName="originalGame"
          required
        >
          <option disabled hidden selected value="">
            Seleccione el metodo de pago deseado
          </option>
          <option value="efectivo">Efectivo</option>
          <option value="tarjeta-debito">Tarjeta de debito</option>
          <option value="tarjeta-credito">Tarjeta de credito</option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="buyGame(game!.id)"
          data-bs-dismiss="modal"
        >
          Comprar
        </button>
      </div>
    </div>
  </div>
</div>
