<section class="game-container">
  <div class="container px-5">
    <section>
      <h2>Detalles:</h2>

      <div class="jumbotron mt-3 aling-items-center position-relative">
        <p
          class="position-absolute w-5 h-5 bg-red top-0 end-0 bg-red text-secondary fs-1 fw-bold"
        >
          ${{ game?.price }}
        </p>

        <h1 class="display-4">
          {{ game?.title }}
          <span class="badge rounded-pill text-light bg-dark fs-3 ms-2">{{
            genre
          }}</span>
          <!--
          <span
            class="badge badge-info badge-pill badge-primary text-light bg-dark fs-3 mb-2 align-self-end"
          >
            ${{ game?.price }}
          </span> -->
        </h1>

        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
          illum officia numquam qui quis sed velit vel tenetur magnam, explicabo
          vero in, placeat, voluptatum ipsam minus harum est beatae sint.
        </p>

        <hr class="my-4" />

        <dl class="row">
          <dt class="col-sm-3 mb-4 fs-5">Requerimientos del sistema:</dt>
          <dd class="col-sm-9"></dd>

          <dt class="col-sm-3">CPU</dt>
          <dd class="col-sm-9">
            <p>{{ game?.requirements?.cpu }}</p>
          </dd>

          <dt class="col-sm-3">Memoria RAM</dt>
          <dd class="col-sm-9">
            <p>{{ game?.requirements?.mem }}</p>
          </dd>

          <dt class="col-sm-3 text-truncate">Almacenamiento</dt>
          <dd class="col-sm-9">
            <p>{{ game?.requirements?.disk }}</p>
          </dd>
        </dl>

        <span class="badge badge-secondary display-6">{{ genre }}</span>
      </div>

      <button (click)="buyGame()" type="button" class="btn btn-primary">
        Comprar Juego
      </button>
    </section>
  </div>
</section>
