@import "../node_modules/bootstrap/scss/bootstrap";

/* $primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
 */

// Create your own map
/* $custom-colors: (
  "custom-color": #900,
  "primary":
"secondary":
"success":
"info":
"warning":
"danger":
"light":
"dark":
); */

// Merge the maps
/* $theme-colors: map-merge($theme-colors, $custom-colors); */
